{% extends 'layout/default.html' %}
{% load filters %}
{% block content %}

    <div class="page-title" text="edit_order"></div>

    <div class="edit-item-info">

        <div class="flex xl:flex-row flex-col gap-2.5">

            <div class="flex flex-col flex-1">

                <div class="panel px-0 flex-1 py-6 ltr:xl:mr-6 rtl:xl:ml-6 no-select">

                    <div class="px-4">

                        <div class="flex justify-between lg:flex-row flex-col">

                            <div class="lg:w-1/2 w-full ltr:lg:mr-6 rtl:lg:ml-6 mb-4 div-2">

                                <div class="flex items-center">
                                    <label for="user" class="ltr:mr-2 rtl:ml-2 w-1/4 mb-0" text="user"></label>
                                    <input id="user" type="text" name="user" value="{{order.user_id|get_user}}" class="form-input flex-1 default" readonly>
                                </div>

                                <div class="flex items-center mt-4">
                                    <label for="coupon" class="ltr:mr-2 rtl:ml-2 w-1/4 mb-0" text="coupon"></label>
                                    <input id="coupon" type="text" name="coupon" value="{{order.coupon|value}}" class="form-input flex-1 default" readonly>
                                </div>

                            </div>

                            <div class="lg:w-1/2 w-full div-3">

                                <div class="flex items-center">
                                    <label for="product" class="ltr:mr-2 rtl:ml-2 w-1/3 mb-0 ltr:pl-8 rtl:pr-8" text="product"></label>
                                    <input id="product" type="text" name="product" value="{{order.product_id|get_product}}" class="form-input flex-1 default" readonly>
                                </div>
                                
                                <div class="flex items-center mt-4">
                                    <label for="price" class="ltr:mr-2 rtl:ml-2 w-1/3 mb-0 ltr:pl-8 rtl:pr-8" text="price"></label>
                                    <input id="price" type="number" name="price" min="0" value="{{order.price}}" class="form-input flex-1 default" readonly>
                                </div>


                            </div>

                        </div>

                    </div>
                    
                    <hr class="border-[#e0e6ed] dark:border-[#1b2e4b] mt-3">

                    <div class="px-4 mt-6">

                        <div class="flex justify-between lg:flex-row flex-col">

                            <div class="lg:w-1/2 w-full ltr:lg:mr-6 rtl:lg:ml-6 mb-4 div-2">

                                <div class="flex items-center">
                                    <label for="name" class="ltr:mr-2 rtl:ml-2 w-1/4 mb-0" text="name"></label>
                                    <input id="name" type="text" name="name" value="{{order.name|value}}" class="form-input flex-1">
                                </div>

                                <div class="flex items-center mt-4">
                                    <label for="phone" class="ltr:mr-2 rtl:ml-2 w-1/4 mb-0" text="phone"></label>
                                    <input id="phone" type="text" name="phone" value="{{order.phone|value}}" class="form-input flex-1">
                                </div>

                            </div>

                            <div class="lg:w-1/2 w-full div-3">

                                <div class="flex items-center">
                                    <label for="email" class="ltr:mr-2 rtl:ml-2 w-1/3 mb-0 ltr:pl-8 rtl:pr-8" text="email"></label>
                                    <input id="email" type="text" name="email" value="{{order.email|value}}" class="form-input flex-1">
                                </div>

                                <div class="flex items-center mt-4">
                                    <label for="date" class="ltr:mr-2 rtl:ml-2 w-1/3 mb-0 ltr:pl-8 rtl:pr-8" text="date"></label>
                                    <input id="date" type="text" name="date" value="{{order.book_date|value}} {{order.book_time|value}}" class="form-input flex-1 default" readonly>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="mt-2 mb-6 px-4 textarea-box">

                        <label for="address" class="mb-4" text="address"></label>
                        
                        <textarea id="address" name="address" class="form-textarea min-h-[100px] no-resize">{{order.pick_up|value}}</textarea>
                    
                    </div>

                    <div class="mt-6 mb-2 px-4 textarea-box">

                        <label for="notes" class="mb-4" text="notes"></label>
                        
                        <textarea id="notes" name="notes" class="form-textarea min-h-[80px] no-resize" rows="3">{{order.notes|value}}</textarea>
                    
                    </div>

                </div>

            </div>

            <div class="xl:w-96 w-full xl:mt-0 mt-6 left-tab no-select">

                <div>

                    <div class="panel mb-5 pb-2">

                        <div>

                            <label for="status" class="mb-3" text="status"></label>

                            <select name="status" id="status" class="form-input flex-1">
                                <option value="1" text="pending" {% if order.status == 1 %}selected{% endif %}></option>
                                <option value="2" text="stopped" {% if order.status == 2 %}selected{% endif %}></option>
                                <option value="3" text="cancelled" {% if order.status == 3 %}selected{% endif %}></option>
                                <option value="4" text="confirmed" {% if order.status == 4 %}selected{% endif %}></option>
                            </select>
                        
                        </div>

                        <hr class="border-[#e0e6ed] dark:border-[#1b2e4b] mt-6 mb-5">

                        <div class="flex justify-between items-center w-full py-1">

                            <div class="check-input">

                                <label class="w-12 h-6 relative">
                                    
                                    {% if order.paid %}
                                        <input checked id="paid" name="paid" type="checkbox" class="absolute w-full h-full opacity-0 z-10 pointer peer">
                                    {% else %}
                                        <input id="paid" name="paid" type="checkbox" class="absolute w-full h-full opacity-0 z-10 pointer peer">
                                    {% endif %}

                                    <span class="bg-[#ebedf2] dark:bg-dark block h-full rounded-full before:absolute before:left-1 
                                        before:bg-white dark:before:bg-white-dark dark:peer-checked:before:bg-white before:bottom-1 
                                        before:w-4 before:h-4 before:rounded-full peer-checked:before:left-7 peer-checked:bg-primary 
                                        before:transition-all before:duration-300">
                                    </span>
    
                                </label>
    
                                <label for="paid" class="ltr:pl-3 rtl:pr-3 pointer" text="paid"></label>
    
                            </div>

                            <div class="check-input">

                                <label class="w-12 h-6 relative">
                                    
                                    {% if order.active %}
                                        <input checked id="active" name="active" type="checkbox" class="absolute w-full h-full opacity-0 z-10 pointer peer">
                                    {% else %}
                                        <input id="active" name="active" type="checkbox" class="absolute w-full h-full opacity-0 z-10 pointer peer">
                                    {% endif %}

                                    <span class="bg-[#ebedf2] dark:bg-dark block h-full rounded-full before:absolute before:left-1 
                                        before:bg-white dark:before:bg-white-dark dark:peer-checked:before:bg-white before:bottom-1 
                                        before:w-4 before:h-4 before:rounded-full peer-checked:before:left-7 peer-checked:bg-primary 
                                        before:transition-all before:duration-300">
                                    </span>
    
                                </label>
    
                                <label for="active" class="ltr:pl-3 rtl:pr-3 pointer" text="active"></label>
    
                            </div>

                        </div>

                    </div>

                    <div class="panel">

                        <div class="grid xl:grid-cols-1 lg:grid-cols-4 sm:grid-cols-2 grid-cols-1 gap-4">

                            <button type="button" onclick="save_data()" class="pointer btn btn-success w-full gap-2">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 ltr:mr-2 rtl:ml-2">
                                    <path d="M3.46447 20.5355C4.92893 22 7.28595 22 12 22C16.714 22 19.0711 22 20.5355 20.5355C22 19.0711 22 16.714 22 12C22 11.6585 22 11.4878 21.9848 11.3142C21.9142 10.5049 21.586 9.71257 21.0637 9.09034C20.9516 8.95687 20.828 8.83317 20.5806 8.58578L15.4142 3.41944C15.1668 3.17206 15.0431 3.04835 14.9097 2.93631C14.2874 2.414 13.4951 2.08581 12.6858 2.01515C12.5122 2 12.3415 2 12 2C7.28595 2 4.92893 2 3.46447 3.46447C2 4.92893 2 7.28595 2 12C2 16.714 2 19.0711 3.46447 20.5355Z" stroke="currentColor" stroke-width="1.5" />
                                    <path d="M17 22V21C17 19.1144 17 18.1716 16.4142 17.5858C15.8284 17 14.8856 17 13 17H11C9.11438 17 8.17157 17 7.58579 17.5858C7 18.1716 7 19.1144 7 21V22" stroke="currentColor" stroke-width="1.5" />
                                    <path opacity="0.5" d="M7 8H13" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                                </svg>
                                <span text="save"></span>&nbsp;
                            </button>
                            <button type="button" class="pointer close-item btn btn-warning w-full gap-2">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 ltr:mr-2 rtl:ml-2">
                                    <path d="M12 7V13" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                    <circle cx="12" cy="16" r="1" fill="currentColor"></circle>
                                    <path opacity="0.5" d="M7.84308 3.80211C9.8718 2.6007 10.8862 2 12 2C13.1138 2 14.1282 2.6007 16.1569 3.80211L16.8431 4.20846C18.8718 5.40987 19.8862 6.01057 20.4431 7C21 7.98943 21 9.19084 21 11.5937V12.4063C21 14.8092 21 16.0106 20.4431 17C19.8862 17.9894 18.8718 18.5901 16.8431 19.7915L16.1569 20.1979C14.1282 21.3993 13.1138 22 12 22C10.8862 22 9.8718 21.3993 7.84308 20.1979L7.15692 19.7915C5.1282 18.5901 4.11384 17.9894 3.55692 17C3 16.0106 3 14.8092 3 12.4063V11.5937C3 9.19084 3 7.98943 3.55692 7C4.11384 6.01057 5.1282 5.40987 7.15692 4.20846L7.84308 3.80211Z" stroke="currentColor" stroke-width="1.5"></path>
                                </svg>
                                <span text="cancel"></span>
                            </button>
                            <button type="button" class="pointer delete-item btn btn-danger w-full gap-2">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 ltr:mr-2 rtl:ml-2">
                                    <path opacity="0.5" d="M9.17065 4C9.58249 2.83481 10.6937 2 11.9999 2C13.3062 2 14.4174 2.83481 14.8292 4" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                    <path d="M20.5001 6H3.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                    <path d="M18.8334 8.5L18.3735 15.3991C18.1965 18.054 18.108 19.3815 17.243 20.1907C16.378 21 15.0476 21 12.3868 21H11.6134C8.9526 21 7.6222 21 6.75719 20.1907C5.89218 19.3815 5.80368 18.054 5.62669 15.3991L5.16675 8.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                    <path opacity="0.5" d="M9.5 11L10 16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                    <path opacity="0.5" d="M14.5 11L14 16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                </svg>
                                <span text="delete"></span>
                            </button>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}

{% block script %}

    <script>

        manage_item("orders");

        const save_data = _ => {

            let data = {
                "name": trim($(".edit-item-info input[name='name']").val()),
                "email": trim($(".edit-item-info input[name='email']").val()),
                "phone": trim($(".edit-item-info input[name='phone']").val()),
                "address": trim($(".edit-item-info textarea[name='address']").val()),
                "notes": trim($(".edit-item-info textarea[name='notes']").val()),
                "status": parseInt($(".edit-item-info select[name='status']").val()) || 1,
                "paid": $(".edit-item-info input[name='paid']").prop("checked"),
                "active": $(".edit-item-info input[name='active']").prop("checked"),
            }

            send_data("/edit-order/{{order.id}}", data);

        }
        
    </script>

{% endblock %}